.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}

.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Montserrat Alternates, sans-serif;
    font-size: 20px;
}

.column {
    width: 22%;
    height: calc(100vh - 250px);
    background-color: #dcdcdc;
}
